body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    }
    /* Global Styles */
    body {
    font-family: 'Times New Roman', Times, serif;
    
    }
    .bod{
        display: flex;
    }
    
    .header {
    background-color: #333;
    color: #fff;
    text-align: center;
    }
    footer {
        text-align: center;
        padding: 1rem 0;
        background-color: #444;
        color: #fff;
        }